{% extends 'base.html.twig' %}
{% block page %}

{% endblock %}
{% block client %}

    <div class="chat-message-popup card mb-4 animated">
        <div class="popup-head">
            <div class="row">
                <div class="message-popup-left">
                    <div class="dropdown">
                        <a class="" href="" data-bs-toggle="dropdown"><i class="fe fe-more-horizontal text-white"></i></a>
                        <div class="dropdown-menu dropdown-menu-left dropdown-menu-arrow">
                            <a href="javascript:void(0);" class="dropdown-item">
                                <i class="fe fe-mail text-primary me-1"></i> Send Mail
                            </a>
                            <a class="dropdown-item" href="javascript:void(0);">
                                <i class="fe fe-thumbs-up text-primary me-1"></i> Rate as Good
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item">
                                <i class="fe fe-thumbs-down text-primary me-1"></i> Rate as Bad
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item">
                                <i class="fe fe-settings text-primary me-1"></i> Settings
                            </a>
                        </div>
                    </div>
                </div>
                <div class="text-center font-weight-bold col-12 text-center">
                    Chat With Us
                </div>
                <div class="message-popup-right text-end">
                    <a class="card-options-fullscreen me-2" href="javascript:void(0);" data-bs-toggle="card-fullscreen"><i class="fe fe-maximize text-white"></i></a>
                    <a class="popup-minimize-normal" href="javascript:void(0);"><i class="fe fe-x text-white"></i></a>
                    <a class="popup-minimize" href="javascript:void(0);"><i class="fe fe-x text-white"></i></a>
                    <a class="popup-minimize-fullscreen" href="javascript:void(0);"><i class="fe fe-x text-white"></i></a>
                </div>
            </div>
        </div>
        <div class="popup-chat-main-body">
            <div class="user-header p-3 border-top border-bottom">
                <div class="d-flex">
                    <div class="d-flex">
                        <img class="avatar avatar-md brround me-2" src="../assets/images/users/16.jpg" alt="message user image">
                        <div>
                            <h6 class="mb-0 font-weight-bold">Abigali kelly</h6>
                            <span class="w-2 h-2 brround bg-success d-inline-block me-1"></span> <small>active</small>
                        </div>
                    </div>
                    <div class="ms-auto">
                        <div class="chat-message-header-icons mt-1 fs-20">
                            <a class="me-2" href=""><i class="fe fe-volume-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-messages pt-0">
                <div class="direct-chat-messages" id="clientsDirectChatMessages">
                    <div class="chat-box-single-line">
                        <abbr class="timestamp">{{ 'now' | date('M d, y') }}</abbr>
                    </div>
                    <div class="direct-chat-msg">
                        <div class="direct-chat-text">Hello. How are you today?<small class="time-text">10.00am</small></div>
                        <img class="direct-chat-img me-2" src="../assets/images/users/16.jpg" alt="message user image">
                    </div>
                    <div class="direct-chat-msg right">
                        <div class="direct-chat-text">
                            Yes
                            <small class="time-text">10.00am</small>
                        </div>
                        <div class="direct-chat-text">
                            I'm fine. Thanks for asking fine. Thanks for asking!
                            <small class="time-text">10.00am</small>
                        </div>
                        <img class="direct-chat-img" src="../assets/images/users/1.jpg" alt="message user image">
                    </div>

                </div>
            </div>
            <div class="popup-messages-footer card-footer p-0">
                <textarea id="statusMessage" placeholder="Type a message..." rows="10" cols="40" name="message" class="form-control"></textarea>
                <div class="chat-footer-icons">
                    <a class="" id="sendMessageBtn" href="javascript:void(0);"><i class="fe fe-send text-muted"></i></a>
                </div>
            </div>
        </div>
        <div class="popup-end-chat-main-body">
            <div class="p-6">
                <div class="section-end-chat text-center chat-content">
                    <h2 class="font-weight-bold">End Chat?</h2>
                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>
                    <div class="mt-6">
                        <a class="btn btn-primary end-chat-button px-5" href="javascript:void(0);">Conform End Chat</a>
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-link text-primary goback-chat btn-sm" href="javascript:void(0);"><i class="fe fe-arrow-left"></i> Go Back</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="rating-chat-main-body">
            <div class="p-6">
                <div class="text-start">
                    <h3 class="font-weight-bold fs-20">Thank you for Contacting Us</h3>
                    <h6>Please rate our supportive team in the following areas </h6>
                    <form class="mt-5">
                        <div class="mt-0">
                            <label>What is your best reason for your score</label>
                            <div class="star-ratings start-ratings-main mb-3 clearfix">
                                <div class="stars stars-example-fontawesome star-sm">
                                    <select class="rating-fontawesome" name="rating">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4" selected="">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <label>What is your best reason for your score</label>
                            <textarea class="form-control" rows="5" cols="50"></textarea>
                        </div>
                        <a class="btn btn-success px-5 mt-4 btn-chat-close" href="javascript:void(0);">Submit your Review</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <a href="javascript:void(0);" id="chat-popup" class="chat-popup-active"><i
                class="feather feather-message-square"></i></a>
{% endblock %}
{% block javascripts %}
    <script>
        let socket = new WebSocket("ws://localhost:8085");

        socket.onopen = function(e) {
           $('#sendMessageBtn').click(function(){
                let messageText = $('#statusMessage').val();
                let data = {
                    'message': messageText,
                    'hust-data': 565
                }
                socket.send(JSON.stringify(data));
            })
        };

        socket.onmessage = function(event) {
            let messagesContainer =  $('#clientsDirectChatMessages');
            let message = createLeftMessage(event.data);
            let messages = messagesContainer.clone();
            messages.append(message);

            messagesContainer.html(messages);
        };

        socket.onclose = function(event) {
            if (event.wasClean) {
                console.log('[close] Соединение закрыто чисто, код=${event.code} причина=${event.reason}');
            } else {
                console.log('[close] Соединение прервано');
            }
        };

        socket.onerror = function(error) {
            console.log(`[error]`);
        };


    </script>
    {{ parent() }}
    <script src="/assets/js/livechat.js"></script>
    <script src="/assets/js/sticky.js"></script>
    <script src="/assets/js/themeColors.js"></script>
    <script src="/assets/js/custom.js"></script>

    <script>
        function createLeftMessage(text){
            const date = new Date();
            return '<div class="direct-chat-msg">' +
                        '<div class="direct-chat-text">'+
                                 text +
                             // '<small class="time-text">' + date.now() + '</small>' +
                        '</div>' +
                    '</div>';
        }

        function createRightMessage(text){
            const date = new Date();
            return '<div class="direct-chat-msg right">' +
                        '<div class="direct-chat-text">' +
                            text +
                            // '<small class="time-text">10.00am</small>' +
                        '</div>' +
                    '</div>';
        }
    </script>
{% endblock %}