<aside class="app-sidebar">
    <div class="app-sidebar__logo">
        <a class="header-brand" href="index.html">
            <img src="/assets/images/brand/logo.png" class="header-brand-img desktop-lgo" alt="Dayonelogo">
            <img src="/assets/images/brand/logo-white.png" class="header-brand-img dark-logo" alt="Dayonelogo">
            <img src="/assets/images/brand/favicon.png" class="header-brand-img mobile-logo" alt="Dayonelogo">
            <img src="/assets/images/brand/favicon1.png" class="header-brand-img darkmobile-logo" alt="Dayonelogo">
        </a>
    </div>
    <div class="app-sidebar3 ps ps--active-y">
        <div class="main-menu is-expanded">
            <div class="app-sidebar__user">
                <div class="dropdown user-pro-body text-center">
                    <div class="user-pic">
                        <img src="/assets/images/users/16.jpg" alt="user-img" class="avatar-xxl rounded-circle mb-1">
                    </div>
                    <div class="user-info">
                        <h5 class=" mb-2">Works</h5>
                        <span class="text-muted app-sidebar__user-name text-sm">App Developer</span>
                    </div>
                </div>
            </div>
            <div class="slide-left disabled d-none active" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path></svg></div>
            <ul class="side-menu" style="margin-right: 0px;">
                <li class="side-item side-item-category mt-4">App</li>

                <li class="slide">
                    <a class="side-menu__item" href="chat-livechat.html">
                        <i class="feather feather-message-square sidemenu_icon"></i>
                        <span class="side-menu__label">Chat</span>
                    </a>
                </li>
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
                        <i class="feather feather-airplay sidemenu_icon"></i>
                        <span class="side-menu__label">Admin</span><i class="angle fa fa-angle-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="side-menu-label1"><a href="javascript:void(0);">Admin</a></li>
                        <li><a href="admin-general.html" class="slide-item">General Settings</a></li>
                        <li><a href="admin-api.html" class="slide-item">API Settings</a></li>
                        <li><a href="admin-role.html" class="slide-item">Role Access</a></li>
                    </ul>
                </li>
            </ul>
            </li>

            </ul>
            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg></div>
            <div class="Annoucement_card">
                <div class="text-center">
                    <div>
                        <h5 class="title mt-0 mb-1 ms-2 font-weight-bold tx-12">Announcement</h5>
                        <div class="bg-layer py-4">
                            <img src="/assets/images/photos/announcement-1.png" class="py-3 text-center mx-auto" alt="img">
                        </div>
                        <p class="subtext mt-0 mb-0 ms-2 fs-13 text-center my-2">Make an Announcement to Our Employee</p>
                    </div>
                </div>
                <button class="btn btn-block btn-primary my-4 fs-12">Create Announcement</button>
                <button class="btn btn-block btn-outline fs-12">See history</button>
            </div>
        </div>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 968px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 447px;"></div></div></div>
</aside>